$border-color: #CDB1FB;
$close-bg: #351767;
$close-color: #ffffff;
$hint-color: rgba(33, 21, 54, 0.7);
$dateRow-bg: #FAF7FE;
$input-border-color: #CDB1FB;
$title-color: #211536FF;
$label-color: lighten($title-color, 10%);
$error-color: #C10015;
$hint-color-holder: #8E69CC;


$body-color: #FEFAE0;
$back-color: #DDA15E;
$forward-color: #BC6C25;
$vote-color: #606C38;
$deeper-green: #283618
